# Este é um ARQUIVO DE EXEMPLO para o docker-compose.override.yml.
# RENOMEIE este arquivo para 'docker-compose.override.yml' e preencha
# com suas credenciais REAIS do Oracle.

services:
  mottu-csharp-api:
    environment:
      - ConnectionStrings__OracleConnection=Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle.fiap.com.br)(PORT=1521)))(CONNECT_DATA=(SID=ORCL)));User ID=SEU_USER_ID;Password=SUA_SENHA
  
  ef-tools:
    environment:
      # mesma string de conexão para o serviço de ferramentas EF.
      - ConnectionStrings__OracleConnection=Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle.fiap.com.br)(PORT=1521)))(CONNECT_DATA=(SID=ORCL)));User ID=SEU_USER_ID;Password=SUA_SENHA