# Renomei este arquivo para: docker-compose.override.yml
# Substitua SEU_ID_ORACLE e SUA_SENHA_ORACLE por suas credenciais de acesso ao banco de dados Oracle

services:
  mottu-csharp-api:
    environment:
      - ConnectionStrings__OracleConnection=Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle.fiap.com.br)(PORT=1521)))(CONNECT_DATA=(SID=ORCL)));User ID=SEU_ID_ORACLE;Password=SUA_SENHA_ORACLE
  ef-tools:
    environment:
      - ConnectionStrings__OracleConnection=Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle.fiap.com.br)(PORT=1521)))(CONNECT_DATA=(SID=ORCL)));User ID=SEU_ID_ORACLE;Password=SUA_SENHA_ORACLE